OLLAMA_BASE_URL=http://YOUR-OLLAMA-SERVER:11434
CHAT_MODEL=llama3.1:8b
EMBED_MODEL=nomic-embed-text
VISION_MODEL=llava:7b

QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=general_docs

RAG_ROOT=/rag-data
RAG_DATA_DIR=/rag-data/text
SQLITE_PATH=/data/chat.db

SESSION_SECRET='Homeschool-is-awesome'
COOKIE_SECURE=false
INTERNAL_API_KEY='this is any hex you want it to be'
TAVILY_API_KEY='sign-up for your free key'